@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Century-Gothic";
    src: url("../fonts/CenturyGothic.ttf");
}

html, body {
    padding: 0px;
    margin: 0px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.side-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 40vw;
    min-height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;
    padding: 1rem 0 1rem;
    font-family: "Norse-Bold";
    font-size: 4rem;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
}

.logo h1 {
    margin: 0;
}

.logo img {
    width: 7rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-family: "Century-Gothic";
}

.copyright a:visited {
    color: white;
}

.copyright a:hover {
    color: red;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    font-family: "Century-Gothic";
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    padding: 10.4rem 2rem 3rem;
    font-size: 1.5rem;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Century-Gothic";
    width: 45vw;
    padding: 1rem 2rem 1rem;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.input-row {
    display: flex;
    flex-direction: column;
}

.input-row input {
    font-size: 16px;
    padding: 5px 10px;
}

.input-header p {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0rem 1rem;
    margin: 0px;
}

.submit-section {
    background-color: rgb(247, 247, 247);
}
